.text-center{
  padding: 5px;

}

.sign-up-Wrapper{
  padding-left: 0;
  margin:10px;
  background-color:rgba(255,255,255,.8);
}

.signUp-title{
  font-size: 1.8em;
  text-align: center;
  vertical-align: middle;
}

.form-control-feedback{
  text-align:justify !important;
}

.hint{
  text-align: center;
}
